<% layout('layouts/boilerplate') %>
<div id="aboutus" class="basic-1">
    <div class="container">
<h2>Meet our Team....</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="img/Team.jpg" alt="alternative">
                </div> 
            </div> 
                <div class="text-container">
<h3>Team Phantom</h3> 
                    
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Dwij Joshi</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Krunal Gupta</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Aryan Italiya</div>
                        </li>
    <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Gajera Nand</div>
                        </li>
                </div> 
            </div>